# Project place file
/src.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

/release
/Network
/Blink
test/Sources/Game.txt
sourcemap.json
/plugin/bundle/*

/benchmark/tools
/benchmark/packages
/benchmark/config.json
/benchmark/src/shared/blink
/benchmark/src/shared/zap
/benchmark/roblox

/site
docs/.vitepress/dist
docs/.vitepress/cache


*.rbxl
*.rbxl.lock

# TODO: Remove after rewrite is complete
/old-src