# Project place file
/src.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

/release
/Network
/Blink
test/Sources/Game.txt
sourcemap.json
/plugin/bundle/*

/benchmark/roblox
*.rbxl
*.rbxl.lock